body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

div, p, input, header, a, form {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: bold;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 24px;
}


ul, li {
    margin: 0;
    padding: 0;
}

ul {
    list-style-position: inside;
    list-style: #FFE401;
}

li {
    color: #FFE401;
}

li span {
    color: #000;
}

p {
	margin: 0;
	padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    padding: 21px 0 9px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}

.header:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 56, 255, 0.38);
}
.logo {
    position: relative;
    z-index: 2;
}

.logo img {
    width: 17%;
}

.motto {
    padding: 100px 0;
    background: url('../img/about_images/bg%20(1).svg') 0 0 no-repeat;
    background-size: 100%;
}

.motto h1 {
    font-size: 64px;
}

.motto span {
    position: relative;
    font-size: 64px;
    font-weight: normal;
    color: #50ABFF;
    -webkit-text-stroke: 1px #50ABFF;  
}
.motto span::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    color: #000;
    -webkit-text-stroke: 0px #50ABFF;
    border-right: 3px solid #dddbc6;
    overflow: hidden;
    animation: animate 8s linear infinite;
}

@keyframes animate {
    0%,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}

.motto span {
    animation: blocks-main .8s forwards;
}

.motto_words{
    display: inline-block;
    margin: 100px 0;
}

.about {
    font-size: 20px;
    font-weight: bold;
}

.only_text {
    padding: 40px;
    background: #fff;
}

.only_text p{
    font-size: 28px;
    line-height: 44px;
    letter-spacing: -0.05em;
    margin: 0 auto;
    text-align: center;
    width: 81%;
}
.mission{
    padding: 40px 0;
    background: #FFF;
}

.mission_content {
    display: flex;
    justify-content: space-between;
}

.mission_content img {
    width: 67%;
}

.mission1 {
    padding: 55px 0 55px 38px;
}

.mission1 h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.mission1 p {
    font-size: 24px;
    margin-bottom: 30px;
}

.mission1 li {
    font-size: 20px;
    margin: 0 0 22px 22px;
}

.numbers{
    background: #F8F8F8;
    padding: 60px 0;
}

.numbers h1{
    margin-bottom: 44px;
}

.numbers_content {
    display: flex;
    justify-content: center;
}

.items {
    display: flex;
    align-items: center;
    margin-right: 144px;
}

.items:nth-child(4n){
    margin-right: 0;
}

.items h2{
    font-size: 45px;
}

.items p{
    font-size: 20px;
}

.items img {
    height: 20px;
    width: 20px;
    margin-right: 15px;
}

.numbers_word {
    display: inline-block;
}

.images {
    padding: 60px 0;
    background: #F8F8F8;
}

.support1{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.support2{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.support1 img {
    margin-bottom: 60px;
}


.mini_menu{
    padding: 10px 0;
    background: blue;
    text-align: center;
    color: white;
}

.mini_nav a {
    font-size: 15px;
    margin-right: 17px;
    color: white;
}

.mini_nav a:nth-child(6n) {
    margin-right: 0px;
}

.footer {
    padding: 20px 0;
    background: black;
}

.footer_logo {
    text-align: center;
}

.social {
    margin-top: 12px;
}

.social a {
    margin-right: 20px;
}

.social a:nth-child(5n) {
    margin-right: 0px;
}
