body {
    padding: 0;
    margin: 0;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

div, p, input, header, a, form {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: bold;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 24px;
}


ul, li {
    margin: 0;
    padding: 0;
    display: block;
}

p {
	margin: 0;
	padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    padding: 21px 0 9px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}

.header:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #C7D2F7;
}
.logo {
    position: relative;
    z-index: 2;
}

.logo img {
    width: 17%;
}

.board {
    padding: 200px 0 40px;
    background: url(file:///C:/Users/users/Downloads/homebg.svg) no-repeat top center;
    background-size: 100%;
}

.board h1 {
    font-weight: bold;
    font-size: 50px;
    width: 49%;
    color: rgba(0, 0, 0, 0.65);
    margin-top: 100px;
}

.board span {
    font-weight: normal;
}

.course {
    padding: 40px 0;
}

.course_contents {
    display: flex;
    justify-content: space-between;
}

.main_words {
    display: inline-block;
    margin-bottom: 50px;
}

.main_words h2 {
    font-size: 19px;
    text-transform: uppercase;
}

.main_words hr {
    height: 10px;
    background: #343539;
    width: 120%;
}

.course_item img {
    display: block;
}


.content {
    background: #C7D2F7;
    padding: 25px 35px ;
    width: 350px;
}

.content h3 {
    font-size: 40px;
}

.money {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 30px;
}

.main_content {
    margin-bottom: 30px;
}

.main_content span {
    display: block;
}

.content p {
    margin-bottom: 20px;
}


.content a {
    display: block;
    background: blue;
    padding: 12px 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin: 0 auto;
    margin-top: 40px;
}

.plus {
    display: block;
    font-size: 17px;
    font-weight: normal;
    margin-bottom: 40px;
}

.from {
    font-size: 17px;
    font-weight: normal;
}
.promo {
    text-align: center;
    font-size: 15px;
    margin-top: 16px;
}

.FAQ {
    padding: 60px 0;
    background: #C7D2F7;
}

.accordion{
    width: 1000px;
    margin: 50px auto;
}

.accordion .accordion_wrap .header-item{
    width: 100%;
    height: 50px;
    background: #fff;
    padding: 50px;
    color: #343539;
    font-weight: bold;
    border-bottom: 2px solid blue;
    position: relative;
    cursor: pointer;
    font-size: 20px;
}

.accordion .accordion_wrap:first-child .header-item{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.accordion .accordion_wrap:last-child .header-item{
    border-bottom: 2px solid blue;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.accordion .accordion_wrap:last-child .header-item:hover{
    border-bottom: 2px solid blue;
}

.accordion .accordion_wrap .header-item:before,
.accordion .accordion_wrap .header-item:after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    width: 20px;
    height: 2px;
    background: #000;
}

.accordion .accordion_wrap .header-item:hover{
    color: #343539;
    border-color: blue;
    transition: 0.5s ease;
}

.accordion .accordion_wrap .header-item:hover:before,
.accordion .accordion_wrap .header-item:hover:after{
    background: #000;
}

.accordion .accordion_wrap .header-item:after{
    transform: rotate(-90deg);
    transition: all 0.5s ease;
}

.accordion .accordion_wrap .text{
    width: 100%;
    height: 0px;
    transition: all 0.5s ease;
    background: #F3F3F3;
    overflow: hidden;
}

.accordion .accordion_wrap .text p{
    padding: 30px;
    font-size: 22px;
    color: #000;
}

.accordion .accordion_wrap .header-item.active{
    color: #000; 
    font-size: 30px;
    background-color: blue;
    align-items: center;
}

.accordion .accordion_wrap:last-child .header-item.active{
    border-bottom: 2px solid blue;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.accordion .accordion_wrap .header-item.active:before,
.accordion .accordion_wrap .header-item.active:after{
    background: #000;
}

.accordion .accordion_wrap .header-item.active:after{
    transform: rotate(0deg);
}

.accordion .accordion_wrap .header-item.active + .text{
    height: 180px;
}


.mini_menu{
    padding: 10px 0;
    background: blue;
    text-align: center;
}

.mini_nav a {
    font-size: 15px;
    margin-right: 17px;
}

.mini_nav a:nth-child(6n) {
    margin-right: 0px;
}

.footer {
    padding: 20px 0;
    background: #000000;
}

.footer_logo {
    text-align: center;
}

.social {
    margin-top: 12px;
}

.social a {
    margin-right: 20px;
}

.social a:nth-child(5n) {
    margin-right: 0px;
}

